<!DOCTYPE html>
<html lang="en" ng-app="toDo">
<head>
	<meta charset="UTF-8">
	<title>ToDoList</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="controller.js"></script>
	<style>
		.done{
			text-decoration: line-through;
			font-style: italic;
			color: #ccc;
		}
	</style>
</head>
<body ng-init="bind()" ng-controller="toDoCtrl">	
	<input type="text" ng-model="searchBox.task" placeholder="Search">
	<div>
		<input type="text" ng-model="newTask">
		<button ng-click="addTask(newTask)">Add</button> ({{ getJobCount() }}) tane daha yapılacak iş var

		<br>
		<button  ng-disabled=" getJobCount() == 0 " ng-click="chooseAll()">Hepsini Seç</button>
		<button ng-disabled=" getJobCount() == tasks.length " ng-click="chooseNone()">Hepsini Sıfırla</button>
	</div>
	<div ng-repeat="task in tasks |filter:searchBox ">
		
		<a href="javascript:;" ng-click="toggle(task)">
			<span ng-class="get_task_class(task)">{{task.task}}</span>
		</a>
		<a href="javascript:;" ng-click="deleteElement($index)">X</a>
	</div>
	<!--<ng-pluralize count="remainingCount" when="'one': 'task left', 'other': 'tasks left'"></ng-pluralize> -->
</body>
</html>